/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
a {
  color: white;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
}
::selection {
  background: mediumspringgreen;
}
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2% 15% 0 15%;
  width: 100%;
  background-color: #232323;
}
.navbar-wrapper .navbar {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  align-items: center;
  margin-right: 30%;
}
.navbar-wrapper .navbar a {
  font-size: 1.2rem;
  margin: 0 5% 0 5%;
}
.navbar-wrapper h4 {
  font-family: "Open Sans", sans-serif;
}
.navbar-wrapper h4 :hover {
  color: #AD75B1;
}
header {
  height: 70vh;
  background-image: url("../img/jumbo-banner.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position-y: 25%;
  color: #fff;
  text-shadow: 2px 2px #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .heading-text-wrapper {
  align-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  padding: 0 15% 0 15%;
  line-height: 1.2;
}
header .heading-text-wrapper .myButton {
  background-color: transparent;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 12px 31px;
  text-decoration: none;
  margin-top: 10%;
}
header .heading-text-wrapper .myButton:hover {
  background-color: transparent;
  border-color: #AD75B1;
  color: #AD75B1;
}
header .heading-text-wrapper .myButton:active {
  position: relative;
  top: 1px;
}
header .img-credit {
  align-self: flex-end;
  margin-right: 10px;
}
header h1 {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
header h2 {
  font-size: 2rem;
}
header p {
  font-size: 0.75rem;
}
footer {
  padding: 5% 15% 5% 15%;
  background-color: #313848;
}
#main {
  padding: 1% 15% 1% 15%;
  display: flex;
  flex-direction: column;
  background-color: snow;
}
#main .main-links {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  height: 1%;
  width: 15%;
  align-self: flex-end;
}
#main .main-links a {
  color: #000;
}
#main .main-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#main .main-images .image-wrapper {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 2%;
}
#main .main-images .image-wrapper .chevrons {
  display: flex;
  background-color: #E7D5E7;
  justify-content: flex-end;
}
#main .main-images .image-wrapper .chevrons i {
  margin: 0 10px 0 5px;
}
#main .main-images .image-wrapper img {
  width: 100%;
}
#main hr {
  margin: 10% auto 10% auto;
  border-color: lightgray;
  width: 20%;
}
